## Data Wrangling: Clean, Transform,Merge, Reshape

Much of the programming work in data analysis and modeling is spent on data prep-
aration: loading, cleaning, transforming, and rearranging. Sometimes the way that data
is stored in files or databases is not the way you need it for a data processing application.
Many people choose to do ad hoc processing of data from one form to another using
a general purpose programming, like Python, Perl, R, or Java, or UNIX text processing
tools like sed or awk. Fortunately, pandas along with the Python standard library pro-
vide you with a high-level, flexible, and high-performance set of core manipulations
and algorithms to enable you to wrangle data into the right form without much trouble.
If you identify a type of data manipulation that isn’t anywhere in this book or elsewhere
in the pandas library, feel free to suggest it on the mailing list or GitHub site. Indeed,
much of the design and implementation of pandas has been driven by the needs of real
world applications.

### Combining and Merging Data Sets

Data contained in pandas objects can be combined together in a number of built-in
ways:
• pandas.merge connects rows in DataFrames based on one or more keys. This will
be familiar to users of SQL or other relational databases, as it implements database
join operations.
• pandas.concat glues or stacks together objects along an axis.
• combine_first instance method enables splicing together overlapping data to fill
in missing values in one object with values from another.
I will address each of these and give a number of examples. They’ll be utilized in examples throughout the rest of the book

### Database-style DataFrame Merges

Merge or join operations combine data sets by linking rows using one or more keys.
These operations are central to relational databases. The merge function in pandas is
the main entry point for using these algorithms on your data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1': range(7)})

In [3]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

In [4]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [5]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [6]:
pd.merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [7]:
pd.merge(df2, df1)

   data2 key  data1
0      0   a      2
1      0   a      4
2      0   a      5
3      1   b      0
4      1   b      1
5      1   b      6

In [8]:
pd.merge(df1, df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [9]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1': range(7)})

In [10]:
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'], 'data2': range(3)})

In [11]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [12]:
pd.merge(df4, df3, left_on='rkey', right_on='lkey')

   data2 rkey  data1 lkey
0      0    a      2    a
1      0    a      4    a
2      0    a      5    a
3      1    b      0    b
4      1    b      1    b
5      1    b      6    b

You probably noticed that the 'c' and 'd' values and associated data are missing from
the result. By default merge does an 'inner' join; the keys in the result are the intersection. Other possible options are 'left', 'right', and 'outer'. The outer join takes the union of the keys, combining the effect of applying both left and right joins

In [13]:
pd.merge(df1, df2, how='outer') #page 195

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

In [14]:
df1 =  pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})

In [15]:
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                   'data2': range(5)})

In [16]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [17]:
df2

   data2 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   d

## Replacing Values

Filling in missing data with the fillna method can be thought of as a special case of
more general value replacement. While map, as you’ve seen above, can be used to modify
a subset of values in an object, replace provides a simpler and more flexible way to do
so. Let’s consider this Series

In [19]:
data = pd.Series([1, -999, 2, -999, -1000, 3])

In [20]:
data

0       1
1    -999
2       2
3    -999
4   -1000
5       3
dtype: int64

In [21]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [22]:
data

0       1
1    -999
2       2
3    -999
4   -1000
5       3
dtype: int64

In [31]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [32]:
_

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [33]:
__

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [37]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [38]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

## Renaming Axis Indexes

In [39]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                   index=['Ohio', 'Colorado', 'New York'],
                   columns=['one', 'two', 'three', 'four'])

In [40]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [41]:
data.index.map(str.upper)

array(['OHIO', 'COLORADO', 'NEW YORK'], dtype=object)

In [43]:
data.rename(index=str.title, columns=str.upper)

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [46]:
_ = data.rename(index={'OHIO': 'INDIANA'})

In [47]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

## Discretization and Binning

Continuous data is often discretized or otherwised separated into “bins” for analysis.
Suppose you have data about a group of people in a study, and you want to group them
into discrete age buckets

In [48]:
ages = [20, 22, 25, 27, 23, 37, 31, 61, 45, 41, 32]

In [49]:
bins = [18, 25, 35, 60, 100]

In [50]:
cats = pd.cut(ages, bins)

In [51]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 11
Categories (4, object): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [52]:
pd.value_counts(cats)

(18, 25]     4
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

## Detecting and Filtering Outliers

Filtering or transforming outliers is largely a matter of applying array operations. Con-
sider a DataFrame with some normally distributed data

In [66]:
np.random.seed(12345)

In [67]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [68]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [69]:
col = data[3]
col[np.abs(col) > 3]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [70]:
type(col)

pandas.core.series.Series

In [76]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [77]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [98]:
data.loc[2:5, [1,3]]

          1         3
2  1.246435 -1.296221
3  0.228913  0.886429
4 -0.371843 -0.438570
5  0.476985 -1.021228

In [80]:
np.sign(data) * 3

       0    1    2    3
0   -3.0  3.0 -3.0 -3.0
1    3.0  3.0  3.0  3.0
2    3.0  3.0  3.0 -3.0
3    3.0  3.0  3.0  3.0
4   -3.0 -3.0  3.0 -3.0
5   -3.0  3.0  3.0 -3.0
6   -3.0  3.0  3.0  3.0
7    3.0  3.0 -3.0 -3.0
8   -3.0 -3.0 -3.0  3.0
9   -3.0  3.0 -3.0  3.0
10  -3.0 -3.0 -3.0 -3.0
11  -3.0  3.0  3.0 -3.0
12   3.0  3.0  3.0  3.0
13  -3.0  3.0  3.0 -3.0
14  -3.0  3.0  3.0 -3.0
15   3.0 -3.0  3.0  3.0
16   3.0 -3.0 -3.0 -3.0
17  -3.0 -3.0 -3.0  3.0
18   3.0  3.0  3.0 -3.0
19  -3.0 -3.0 -3.0  3.0
20   3.0 -3.0  3.0  3.0
21   3.0  3.0 -3.0  3.0
22  -3.0  3.0  3.0  3.0
23  -3.0  3.0  3.0  3.0
24   3.0 -3.0  3.0  3.0
25  -3.0 -3.0 -3.0 -3.0
26  -3.0 -3.0  3.0  3.0
27  -3.0  3.0 -3.0  3.0
28   3.0 -3.0 -3.0 -3.0
29   3.0 -3.0  3.0 -3.0
..   ...  ...  ...  ...
970  3.0  3.0  3.0 -3.0
971 -3.0 -3.0 -3.0  3.0
972  3.0  3.0 -3.0 -3.0
973 -3.0  3.0  3.0 -3.0
974 -3.0 -3.0  3.0 -3.0
975 -3.0 -3.0  3.0 -3.0
976  3.0  3.0  3.0  3.0
977 -3.0  3.0  3.0  3.0
978  3.0 -3.0  3.0  3.0
979  3.0  3.0 -3.0  3.0
980 -3.0 -3.0 -3.0 -3.0
981 -3.0  3.0  3.0  3.0
982 -3.0  3.0  3.0  3.0
983 -3.0  3.0  3.0  3.0
984  3.0 -3.0  3.0 -3.0
985 -3.0  3.0  3.0  3.0
986 -3.0 -3.0  3.0 -3.0
987 -3.0 -3.0  3.0 -3.0
988 -3.0  3.0 -3.0 -3.0
989  3.0  3.0  3.0  3.0
990 -3.0 -3.0 -3.0  3.0
991  3.0 -3.0  3.0  3.0
992 -3.0  3.0 -3.0 -3.0
993  3.0  3.0 -3.0  3.0
994  3.0 -3.0  3.0  3.0
995  3.0  3.0 -3.0  3.0
996 -3.0 -3.0 -3.0 -3.0
997 -3.0  3.0  3.0  3.0
998 -3.0 -3.0 -3.0 -3.0
999  3.0  3.0  3.0  3.0

[1000 rows x 4 columns]

## Permutation and Random Sampling